<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Hathori | <%=title %></title>

    <link rel="stylesheet" href="/styles.css">

    <!-- <style>
                body{
            max-width: 1200px;
            margin: 20px auto;
            padding: 0 20px;
            font-family: 'Courier New', Courier, monospace;
        }
        p,h1,h2,h3,a,ul{
            margin: 0;
            padding: 0;
            text-decoration: none;
            color: #222;
        }
        /* nav an footer */
        nav {
            display: flex;
            justify-content: space-between;
            margin-bottom: 60px;
            padding-bottom: 10px;
            border-bottom: 1px solid #ddd;
            text-transform: uppercase;
        }

        nav ul{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
        nav li{
            list-style-type: none;
            margin-left: 20px;
            border: 2px solid rgb(161, 152, 152);
            padding: 5px;
            border-radius: 5px;
        }

        
        nav h1{
            font-size: 2em;
        }
        nav p, nav a{
            color: #777;
            font-weight: 300;
        }
        footer {
            color: #777;
            text-align: center;
            margin: 100px auto 20px;
        } 
        h2 {
            margin-bottom: 40px;
        }
        h3{
            text-transform: capitalize;
            margin-bottom: 8px;
        }

        .content {
            margin-left: 20px;
        }
        .snippet {
            margin-bottom: 12px;;
        }

        .create-blog form{
            max-width: 400px;
            margin: 0 auto;
        }

        .create-blog input,
        .create-blog textarea{
            display: block;
            width: 100%;
            margin: 10px 0;
            padding: 8px;
        }
        .create-blog button {
            margin-top: 20px;
            background: crimson;
            color: white;
            padding: 6px;
            border: 0;
            font-size: 1.2em;
            cursor: pointer;
            border-radius: 5px;
        }

    </style> -->
</head>