<nav>
    <div class="site-title">
      <a href="/"><h1>Rohit's</h1></a>
      <p>Daily Blogs</p>
    </div>  
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">Create New</a></li>
    </ul>
  </nav>