<nav>
    <div class="site-title">
      <a href="/"><h1>Ninja Hathori</h1></a>
      <p>A clean site</p>
    </div>  
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">Create new blog</a></li>
    </ul>
  </nav>